@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Marcellus+SC|Nixie+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400i&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 62.5%;
}

body {

  margin: auto 0;

}

body, html {
  margin: 0;
  padding: 0;
}

/* 
* {
  margin-top: 0;
} */







header {
  text-align: center;

}


.top-nav {
  display: flex;
  justify-content: flex-end;
  background-color: #FFFFFF;
  list-style: none;
  margin: 0;


  border-bottom: 2px solid #eee;
  box-shadow: 0 8px 8px -4px eee;


}



.top-nav li {
  padding: 2rem;
  color: #075486;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;


}


.small-nav li {

  padding: 1rem;
  color: #075486;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;


}


.small-nav {
  /* visibility: hidden; */
  display: none;
  justify-content: flex-end;
  background-color: #FFFFFF;
  list-style: none;
  margin: 0;
  padding: 0;

  border-bottom: 2px solid #eee;
  box-shadow: 0 8px 8px -4px eee;
}


.dropmenuitems {
  display: none;

  background-color: #FFFFFF;
  list-style: none;
  margin: 0;
  padding: 0;

  border-bottom: 2px solid #eee;
  box-shadow: 0 8px 8px -4px eee;
}

.reveal {
  display: flex;
  justify-content: space-around;

}

.dropmenuitems li {

  padding: 1rem;
  color: #075486;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;


}

.top-nav a, .dropmenuitems a {
  text-decoration: none;
  color: #075486;




}

.top-nav a:hover {

  text-shadow: 2px 2px 4px #7e7e7e7e;

}

.cover {

  background: url(../images/coverbanner.jpg) no-repeat center center fixed;

  height: 45rem;


}




header {
  color: #FFFFFF;
  text-shadow: 2px 2px 10px #000;
  position: relative;
}

header h1 {
  padding-top: 7%;
  margin-top: 0;
  font-size: 10rem;
  font-family: 'Nixie One', cursive;
  letter-spacing: 2rem;

}

header h2 {
  margin-top: -9rem;
  font-size: 4rem;
  letter-spacing: 5px;

  font-family: 'Roboto Condensed', sans-serif;


}

.dp3headshot {
  border-radius: 50%;
  background: #000;
  width: 25rem;
  height: 25rem;
  border: .5rem solid #FFFFFF;

  position: absolute;

  bottom: -12rem;

  margin-left: auto;
  margin-right: auto;

  left: 0;
  right: 0;

  z-index: 9;
  background: url(../images/DRP3_Headshot_crop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.divider {
  background: #FFF;
  height: 15rem;
}


.main h2 {
  font-size: 5rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #3b3b3b;

}

.main p {

  font-size: 2.5rem;
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;
  color: #3b3b3b;
}

.welcome {

  width: 80%;
  margin: auto;
}

.bottomborder {

  border-bottom: .2rem solid #3b3b3b;
  width: 30%;
}

.gallerysection {
  background: #075486;

  width: 100%;

}

.gallerysection h2 {
  font-size: 5rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;

  padding-top: 2rem;

}

.gallerysection .bottomborder {

  border-bottom: .2rem solid #FFF;
  width: 30%;

}

.eightypercenter {
  width: 80%;

  margin: auto auto;
}

.gallerysection p {
  font-size: 2.5rem;
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  padding-top: 2rem;
  text-align: justify;
  margin: auto auto;
}

.gallery {


  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background: #075486;
  padding: 2rem;
}

.gallery img {
  width: 100%;
}

@media only screen and (max-width: 690px) {

  .top-nav li {
    /* visibility: hidden; */
    display: none;
  }

  /* 
  .gallery {
    display: none;
  } */

  .small-nav {

    display: flex;
    align-items: center;
    justify-content: space-between;

  }




  html {
    font-size: 40%;
  }

  header h2 {
    display: none;
  }

}









.homeLinks li {

  background: #7e7e7e7e;
  padding: 10px;
  color: #ffffff;
  border-radius: 4px;
  font-size: 25px;
  margin-right: 15px;


}

.homeLinks a {
  text-decoration: none;
  color: #FFFFFF;
}

.homeLinks li:hover {
  transform: scale(1.3);
}



.nav2 {

  list-style: none;
  margin: 0;

}

.homeLinks {

  display: flex;

  list-style: none;
  margin: 0;
  justify-content: center;


}





.dog img {
  width: 60vw;
  margin: auto;
}

.dog {
  /* background-color: black; */

  text-align: center;


}

*/ .paisley {
  display: flex;
}


.paisleybox1 {
  background-color: pink;
  height: 500px;
  width: 33%;
  /* clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%); */
  /* -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
      -o-transform: skew(30deg); */
  transition: box-shadow 0.3s ease-in-out;
}

.paisleybox2 {
  background-color: pink;
  height: 500px;
  width: 33%;
  /* clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%); */
  /* -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
    -o-transform: skew(30deg); */
}

.paisleybox3 {
  background-color: pink;
  height: 500px;
  width: 33%;
  /* clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%); */
  /* transform: skew(-20deg);
  transform: skew(-20deg);
  transform: skew(-20deg); */
}

.paisleybox1:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}